@font-face{font-family:'fontawesome';src:url('../font/fontawesome-webfont.eot');src:url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('../font/fontawesome-webfont.woff') format('woff'),url('../font/fontawesome-webfont.ttf') format('truetype'),url('../font/fontawesome-webfont.svg') format('svg');font-weight:normal;font-style:normal}

/**********************/
/*      DEFAULT COLOR */
/**********************/

.default .lightest
{
	color:#CBC9C6;
}

.default .lighter
{
	background-color:#CBC9C6;
}

.default .darker
{
	background-color:#373635;
}

.default .darkest
{
	color:#11100E;
}

.default .darkestBorder
{
	border:solid 1px #11100E;
}

.default .darkestBorderBottom
{
	border-bottom:solid 1px #11100E;
}

.theme.default
{
	background-color: #CBC9C6 !important;
}

/**********************/
/*      REd COLOR         */
/**********************/

.red .lightest
{
	color:#FFAAAA;
}

.red .lighter
{
	background-color:#FFAAAA;
}

.red .darker
{
	background-color:#801515;
}

.red .darkest
{
	color:#550000;
}

.red .darkestBorder
{
	border:solid 1px #550000;
}

.red .darkestBorderBottom
{
	border-bottom:solid 1px #550000;
}

.theme.red
{
	background-color: #FFAAAA !important;
}

/**********************/
/*      Green COLOR         */
/**********************/

.green .lightest
{
	color:#75B095;
}

.green .lighter
{
	background-color:#75B095;
}

.green .darker
{
	background-color:#0F5837;
}

.green .darkest
{
	color:#003B20;
}

.green .darkestBorder
{
	border:solid 1px #003B20;
}

.green .darkestBorderBottom
{
	border-bottom:solid 1px #003B20;
}

.theme.green
{
	background-color: #75B095 !important;
}

/**********************/
/*      Blue COLOR         */
/**********************/

.blue .lightest
{
	color:#7386A5;
}

.blue .lighter
{
	background-color:#7386A5;
}

.blue .darker
{
	background-color:#152D56;
}

.blue .darkest
{
	color:#061A3C
}

.blue .darkestBorder
{
	border:solid 1px #061A3C;
}

.blue .darkestBorderBottom
{
	border-bottom:solid 1px #061A3C;
}

.theme.blue
{
	background-color: #7386A5 !important;
}

/**********************/
/*      Brown COLOR         */
/**********************/

.brown .lightest
{
	color:#E5BE9B;
}

.brown .lighter
{
	background-color:#E5BE9B;
}

.brown .darker
{
	background-color:#8C4C16;
}

.brown .darkest
{
	color:#6F3200
}

.brown .darkestBorder
{
	border:solid 1px #6F3200;
}

.brown .darkestBorderBottom
{
	border-bottom:solid 1px #6F3200;
}

.theme.brown
{
	background-color: #E5BE9B !important;
}

/**********************/
/*       CATALOG      */
/**********************/

.catalog
{
	width:100%;
	height:100%;
	padding:0px 0px 0px 0px;
}

.catalog .clear
{
	clear: both;
}

.catalog .left
{
	float: left;
}


/**********************/
/*       THEMES      */
/**********************/
.catalog .themes
{
	position:relative;
	width:100%;
	padding:0px 100px 0px 5px;
	margin-bottom:10px;
	line-height:30px;
	height:30px;
	display:inline-block;
	text-transform: uppercase;
	font-size: 15px;
}

.catalog .themes .themesbutton
{
	position:absolute;
	right:5px;
	top: 3px;
	width:94px;
	height:24px;
	line-height:24px;
	display:inline-block;
	padding:0px 5px 0px 5px;
	cursor:pointer;
	font-size: 12px;
}

.catalog .themes .themesbutton .icon
{
	font-size:1.3em;
	margin-left:10px;
}

.catalog .themes .themesMenu
{
	display:none;
	position:absolute;
	width:200px;
	max-height:150px;
	overflow:auto;
	right:0px;
	top:32px;
	z-index:1;
	font-size: 14px;
}

.catalog .themes .themesMenu .theme
{
	width:100%;
	padding:5px 5px 5px 5px;
	cursor:pointer;
	color:black !important;
}

/**********************/
/*       PANEL      */
/**********************/

.catalog .panel
{
	width:100%;
}

.catalog .panel .header
{
	position:relative;
	width:100%;
	padding:0px 40px 0px 5px;
	line-height:30px;
	height:30px;
	/*display:inline-block;*/
	text-transform: uppercase;
	/*border-bottom: 1px solid #9A9997;*/
	font-size: 15px;
}

.catalog .panel .panelButton
{
	position:absolute;
	right:10px;
	top: 3px;
	width:24px;
	height:24px;
	line-height:24px;
	display:inline-block;
	cursor:pointer;
	font-size:1.3em;
}

.catalog .panel .content
{
	display:block;
}

.catalog .panel .content.hide
{
	display:none;
}

/**********************/
/*       TOC         */
/**********************/
.tocItem
{
	position: relative;
	width: 99%;
	margin:0px 0px 0px 0px;
	min-height: 24px;
}

.tocItem:hover
{
	background-color: #FFFFFF;
}

.tocItem td .checkbox{
	display: none;
	margin: 0px 0px 0px 0px;
}

.tocItem td.checkbox .checkbox{
	display: inline;
}

.tocItem td .loader
{
	display: none;
	float: left;
	margin: 0px 0px 0px 0px;
}

.tocItem td.loader .loader{
	display: block;
}

.tocItem td .warning
{
	display: none;
	margin: 0px 0px 0px 0px;
}

.tocItem td.warning .warning{
	display: inline;
}

.tocItem .tocTools
{
	padding: 0px 0px 0px 22px;
	visibility: hidden;
}

/*.tocItem:hover .tocTools
{
	visibility: visible;
}*/


.tocItem .tocTools .tocTool
{
	display: inline-block;
	margin: 0px 4px 0px 4px;
	cursor: pointer;
}

.tocItem .menu
{
	position: absolute;
	left: 32px;
	top: 32px;
	z-index: 1;
	width: 120px;
	font-size: 12px;
}

.tocItem .menu .menuItem
{
	width: 100%;
	padding: 5px;
	cursor: pointer;
}

.tocItem .menu .menuItem .alpha
{
	cursor: none;
}


/**********************/
/*       TREE         */
/**********************/

.treeItem {
	padding: 0px 0px 0px 20px;
	cursor: default;
	min-height: 20px;
	font-size: 14px;
}

.treeItem.openable {
	background-repeat: no-repeat;
	background-position: left top;
	background-position-y: 3px;
	background-position-x: 2px;
	background-image: url('../images/close.gif');
	/*background-size: 12px;*/
}

.treeItem.openable.open {
	background-image: url('../images/open.gif');
}

.treeItem .content
{
	padding: 5px 0px 5px 0px;
}

.treeItem .content .checkbox{
	display: none;
	margin: 0px 5px 0px 0px;
}

.treeItem .content.checkbox .checkbox{
	display: inline;
}

.treeItem .content .loader
{
	display: none;
	float: left;
	margin: 0px 5px 0px 0px;
}

.treeItem .content.loader .loader{
	display: block;
}

.treeItem .content .warning
{
	display: none;
	margin: 0px 5px 0px 0px;
}

.treeItem .content.warning .warning{
	display: inline;
}

.treeItem.level_0 { margin-left: 0px; }
.treeItem.level_1 { margin-left: 10px; }
.treeItem.level_2 { margin-left: 20px; }
.treeItem.level_3 { margin-left: 30px; }
.treeItem.level_4 { margin-left: 40px; }
.treeItem.level_5 { margin-left: 50px; }

.treeItem.openable.open > .treeItemChildrenContainer { display: block; }
.treeItem.openable > .treeItemChildrenContainer { display: none; }

.treeItem.dragTop {
	border-top: 3px solid #44CCFF;
}

.treeItem.dragBottom {
	border-bottom: 3px solid #44CCFF;
}

/**********************/
/*       ICON         */
/**********************/

.icon
{
	display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
}

.icon.back::before
{
	content: "\f053";
}

.icon.next::before
{
	content: "\f054 ";
}

.icon.remove::before
{
	content: "\f1f8";
}

.icon.check::before
{
	content: "\f096 ";
}

.icon.check.active::before
{
	content: "\f046 ";
}

.icon.success::before
{
	content: "\f00c";
}

.icon.warning::before
{
	content: "\f071";
}

.icon.menu::before
{
	content: "\f0c9";
}

.icon.options::before
{
	content: "\f141";
}

.icon.down::before
{
	content: "\f0d7";
}

.icon.up::before
{
	content: "\f0d8";
}

.icon.zoom::before
{
	content: "\f00e";
}

/************/
/* SPLASH   */
/***********/

.splash-overlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding: 0;
    margin: 0;
}

.splash-overlay{
	background-color:rgba(0,0,0,0.2);
}

.splash
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash
{
	z-index:10;
	display:none;
}

.splash-overlay
{
	z-index:9;
}

.splash .successContainer
{
	color: #088A29;
	font-size:20px;
}

.splash .waitContainer
{
	position:relative;
	width:80px;
	height:80px;
}

.splash .waitContainer .sk-circle
{
	position:absolute;
	top:-80px;
	left:20px;
}


.splash.infoContainer
{
	width:90%;
	max-width:400px;
}

.splash.infoContainer .textContainer
{
	width:100%;
	text-align:center;
	padding:20px;
	background:white;
}

.splash.infoContainer .buttonContainer
{
	width:100%;
}

.splash.infoContainer .button
{
	width:100%;
	text-align:center;
	background-color:#F9B233;
	padding:15px 0px 15px 0px;
	color:white;
	cursor:pointer;
}

.splash.infoContainer .demi.button
{
	width:50%;
	float:left;
}


.splash.infoContainer .demi.button.border
{
	border-left:1px solid white;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle.small {
	margin: 2px auto;
	width: 14px;
	height: 14px;
	position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}